* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./joke.gif');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

button {
  position: absolute;
  cursor: pointer;
  outline: none;
  width: 300px;
  height: 50px;
  color: #fff;
  font-size: 1rem;
  background: rgb(42, 57, 57, 0.7);
  border: none;
  border-radius: 1rem;
  transition: 0.5s;
  top: 50px;
}

button:hover {
  background: rgb(42, 57, 57, 1);
}

button:active {
  transform: scale(0.9);
}
button:disabled {
  cursor: default;
  filter: brightness(30%);
}

@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
  }
}
